
@{
    ViewBag.Title = "EmailSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-xs-center">
    <h1 class="display-3 text-center">Thank You for your interest!</h1>
    <p class="lead text-center"><strong>Your email has been recieved!</strong> Please allow 24 hours for a response to your inquiry</p>
    <hr>
    <div class="text-center align-content-center justify-content-center">
        <p class="lead text-center">
            <a class="btn btn-primary btn-sm" href="@Url.Action("Index","Home")" role="button">Continue to homepage</a>
        </p>
    </div>
</div>

