
@{
    ViewBag.Title = "Certificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Certificate</h2>

<iframe src="https://services.cognitoforms.com/f/MfytpsZxp0qiVHsaWPji-g?id=1" style="position:relative;width:1px;min-width:100%;*width:100%;" frameborder="0" scrolling="yes" seamless="seamless" height="864" width="100%"></iframe>
<script src="https://services.cognitoforms.com/scripts/embed.js"></script>