@{
    Page.Title = "Title goes here";
    //Layout = "Your Layout Page goes here";
}

    
    <div style="padding-left:25%; padding-right:25%;" class="container backgroundcolor pb-5 pt-5">
        <div>
            <h5 style="color: black;" class="font-weight-bolder text-center">
                Call and order your AI Supplies today!
            </h5>
            <h6 style="color: black;" class="font-weight-bolder text-center">
                *Supplies can be shipped with semen or sold separately!
            </h6>
        </div>
        <ul class="list-group text-center">
            <li class="list-group-item">Spirettes Rods</li>
            <li class="list-group-item">Foam Tip Rods</li>
            <li class="list-group-item">Lubricant</li>
            <li class="list-group-item">Hog Mate</li>
            <li class="list-group-item">Boar Better</li>
            <li class="list-group-item">PG600</li>
        </ul>
    </div>