@{
    ViewBag.Title = "BoarVideos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BoarVideos</h2>

<div class="container pb-5 pt-5 mb-5 backgroundcolor">
    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">TD</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/BwUTgfIqATo?si=KaSjdRe2_EdJCeLn" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Medicine Man</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/Xr_Yc1fuT9w?si=qITJjfedLHDyBJGu" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Boogie Shoes</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/kxdXFFPKMAA?si=5UkQPHBgehzdN5QF" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Lightning</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/kQo98X9iAWc?si=CmCV3GZRezkDs-E3" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Crazy Pieces</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/iNPEcoUteOU?si=sDrsAMtE4ErjbcPL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Bobcat</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/jQNr2BJjL7s?si=BJMZDUV4ev87wBG_" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Viking</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/-aa7kK1lKX4?si=8mkD7Zx82MT_KfVv" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">LFC Klondike</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/qDxsLpe-joQ?si=DLKGZmjV3Invpfp5" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Thunder</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/diyzpxGtwKc?si=sd4Zk5orvdklyZc3" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Hoka</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/aUwjqzbjCVw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Mission One</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/T0tfK4xwjcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Schools Out</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/uNAtDw7iJG0?si=QTkBBhsJlIcCZlTP" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Storm</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/bjKL9KQFNBE?si=FS5liswZXbNclzhH" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Hamilton</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/hsBwUE7pLmk?si=zJ2ZupljPDPS7sBK" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">All Too Well</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/XmFPirI5g0I?si=Zl1J9wqCbHsn3Wms" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Bring the Heat</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/m_ZrDzNuE5E?si=aia6sAsAxqYzYASR" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Coming in Hot</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/zG5z844aKFA?si=taqg_BFuzWSNT-m8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">The Mayor</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/5oaCkyEBYYc?si=rWBqL3tKj2AMMR5P" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Trooper</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/nZ15RGaK2qQ?si=eSeSqJKGAEtIVYT8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Hell Cat</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/6LZawRH31RY?si=8ymLWUAdzqYQahEd" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">NYC</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/eIhEqAc8GmQ?si=Zw7nwWW2SIwK-HYD" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Black Collar</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/pi1SI9-wbOs?si=9VvB9QpuZT9nS_57" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Old School</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/BYC_DWSLf0w?si=Z8P1P_F7qoLRyF9A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">No Limit</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/KV5-7vyST38?si=elk8CpWx4ZP6M9-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Empire</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/Etx9ndDGAok?si=14RACO7aQ2Y-YaFZ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Frosty</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/JcI_cyAMwf0?si=-L7mKGA3V7j71PK5" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Bruce Lee</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/9j2qMeE4BW0?si=VaEwJ7FdBBMyecZP" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">T2</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/7vuDe9qeRMQ?si=UWN9DGCrG86A04FM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Truck</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/MXWC4hcS-_Q?si=7zhzRBjNipg4w6M1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Drinking Buddy</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/XSPtLBkZi5g?si=2Sox1M1CSC6BIZBG" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Earn It</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/vGi9m7A6uw4?si=LZGMniDacJWJP9Nt" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Full Power</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/RKgCvlcP1Yg?si=txIg5Fiv24WmH3c4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Ish</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/u7EVdiZ1YdY?si=kPObqMee35mvvRGV" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Coal Miner</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/V6NkeuzaV7U?si=m8Hmvz3E-rUZK-U5" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Rock Star</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/gxR1bNLM4rs?si=c3erS_cELwnTrOEb" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Showboat</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/nATbNQIOltE?si=5RRL3UllN1dGuXlI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Quick Fire</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/n13Q-2GhbfA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">After Glow</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/5v0KX0CHPTw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Big Kahuna</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/Bc8pJBeuOuI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row videoBackgroundColor">
        <div class="col-lg-6 col-md-6 col-sm-12 sm-video mb-3 mt-3">
            <h2 class="videoText">Hot Take</h2>
            <div class="iframe-container">
                <iframe class="embed-responsive-item videoMargin" src="https://www.youtube.com/embed/avIaQ9Ds220" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
